body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 2%;
    max-width: 1400px;
    margin: 0 auto;
}

.shop-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2% 0%;
}

a {
    text-decoration: none;
    color: black;
}

* {
    /* adsada adding the above line will make so that paddings and margins
    don't affect the total width of our elements :D cool! */
    box-sizing: border-box;
}